.editor-toolbar__wrapper {
  position: fixed;
  top: 7vh;
  left: 10px;
  display: flex;
  flex-direction: column;
  opacity: 0.15;
  transition: opacity 0.2s ease-in;
  &:hover {
    opacity: 1;
  }
}

.editor-toolbar__button {
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #7b7b7b;
  border-radius: 20px;
  color: #1e1e1e;
  outline: none;
  transition: background 0.2s ease-in;
  &:hover {
    background: #ccc;
  }
  &--light {
    color: #f9f9f9;
    &:hover {
      background: #1e1e1e;
    }
  }
}

.editor-toolbar__word-count {
  display: flex;
  font-size: 0.7em;
}

.editor-toolbar__icon {
  height: 13px;
}

.editor-toolbar__tooltip {
  padding: 5px 10px;
}
