.editor__header,
.editor__body {
  width: 100%;
  border: none;
  resize: none;
  background: rgb(30, 30, 30);
  outline-color: #cccccc;
  outline-width: 0.5px;
  outline: none;
}

.editor__header {
  color: #cccccc;
  font-size: 2em;
  margin-block-start: 0.27em;
  margin-block-end: 0.27em;
  font-weight: bold;
  &--light {
    font-size: 3em;
  }
}

.editor__body {
  color: #c6c6c6;
  font-size: 1.2em;
}
